@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #fafafa;
}
a {
  color: #000 !important;
}
h5 {
  margin-right: 15px;
}
li a {
  font-size: 14px !important;
}
.white {
  background-color: #fafafa !important;
}
.brand-logo {
  font-family: 'Grand Hotel', cursive;
}
.mycard {
  margin-top: 30px;
  max-width: 800px;
  margin: 30px auto 0;
}
.auth-card {
  margin: 10px auto;
  padding: 20px;
  text-align: center;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field input[type='text']:focus {
  border-bottom: none !important;
  box-shadow: none !important;
}

.home-input input[type='text']:focus {
  border-bottom: none !important;
  box-shadow: none !important;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.item {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  height: 15vh;
  margin-top: 15px;
}
.card {
  box-shadow: none;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  border-radius: 12px;
}
.home-card {
  margin: 25px auto;
  max-width: 800px;
  height: max-content;
}
.material-icons {
  margin-right: 12px;
}
.card-content {
  padding: 20px !important;
}

.clear {
  display: flex;
  flex-direction: column;
  color: black;
}

.btn-small {
  background-color: #0095f6 !important;
  width: 320px !important;
  height: 50px !important;
  margin: 20px 0;
}

.show {
  display: block;
  margin: 0 auto;
  background-color: white;
  color: white;
  width: 80px;
  height: 80px;
}
.hidden {
  display: none;
}

#spinner {
  position: absolute;
  left: 42%;
  top: 42%;
  transition: none;
  border-left: 6px solid rgba(0, 174, 239, 0.15);
  border-right: 6px solid rgba(0, 174, 239, 0.15);
  border-bottom: 6px solid rgba(0, 174, 239, 0.15);
  border-top: 6px solid rgba(0, 174, 239, 0.8);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(365deg);
  }
}
